{% extends 'tools_base.html' %}
{% load static %}


{% block container %}
    {% for page_format_list in all_page_format_list %}
        <table class="table print-adapt-A4" align="center">
            <thead>
            <tr style="align-content: center">
                <th>班级：______ </th>
                <th>姓名：______ </th>
                <th>时间：______ </th>
                <th>分数：______ </th>
            </tr>
            </thead>
            <tbody>
            {% for math_format_list in page_format_list %}
                    <tr>
                        {% for math in math_format_list %}
                            <td>{{ math }}</td>
                        {% endfor %}
                    </tr>
            {% endfor %}

            </tbody>
        </table>
        <div style="page-break-before: always;"></div>
    {% endfor %}

{% endblock %}


