{% extends 'gregblog_base.html' %}
{% load static %}
{% block title %}注册{% endblock %}



{% block container %}
        <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                  <div class="panel-heading"><h4>注册</h4></div>
                  <div class="panel-body">
                    <form class="form-group" method="POST">
                        {% csrf_token %}
                        {% for form in register_form %}
                            <label for="{{ form.id_for_label }}">{{ form.label }}</label>
                            {{ form }}
                            <p class="text-danger">{{ form.errors.as_text }}</p>
                        {% endfor %}
                        <span class="text-danger">{{ register_form.non_field_errors }}</span>
                        <button type="submit" class="btn btn-danger btn-block">注册</button>

                        <div style="margin-top: 20px">
                            <span>已经有账号了？</span>
                            <span><a href="{% url 'user:login' %}">立即登录</a></span>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}









