{% extends 'gregblog_base.html' %}
{% load static %}
{% block title %}个人信息{% endblock %}



{% block container %}
        <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>{{ user.username }}</h2>
                <ul>
                    <li>
                        {% if user.has_nickname %}
                            昵称：<span>{{ user.get_nickname }}</span>
                        {% else %}
                            昵称：<span style="color: #999999">未设置昵称</span>
                        {% endif %}
                        <a href="{% url 'user:change_nickname' %}?from={{ request.get_full_path_info }}">修改昵称</a>
                    </li>

                    <li>
                        邮箱：
                        {% if user.email %}
                            {% if user.get_email_active %}
                                {{ user.email }}  <span>(邮箱已认证)</span>
                            {% else %}
                                {{ user.email }} <a href="{% url 'user:change_email' %}?from={{ request.get_full_path_info }}">修改邮箱</a>  <a href="{% url 'user:bind_email' %}?from={{ request.get_full_path_info }}">邮箱认证</a>
                            {% endif %}

                        {% else %}
                            未填写邮箱 <a href="{% url 'user:change_email' %}?from={{ request.get_full_path_info }}">修改邮箱</a>
                        {% endif %}
                    </li>
                    <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                    {{ user.attribute }}
                    <li><a href="{% url 'user:change_password' %}?from={{ request.get_full_path_info }}">修改密码</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}









