{% extends 'public/base.html' %}
{% load static %}

{% block title %}500 - 出错了！{% endblock %} - 王不迟的博客

{# 加载自定义样式 #}
{% block style %}
    <link href="{% static "errors/main.css" %}" rel="stylesheet">
{% endblock %}



{% block container %}
    <div id="wrapper"><a class="logo" href="/"></a>
        <div id="main">
            <header id="header">
                <h1><span class="icon">!</span>500<span class="sub">server error</span></h1>
            </header>
        <div id="content">
        <h2>服务器出错了！</h2>
        <p>非常抱歉，当您看到这个页面,表示我们的服务器出问题了,系统已通知站长，请过段时间重试下！</p>
        <div class="utilities">
            <a class="button right" href="{% url "gregblog:index" %}">返回</a>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer">
      <ul>
        <li><a href="{% url "gregblog:index" %}">网站首页</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}