{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {# 网站标题名称block #}
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{% static "bootstrap3/css/bootstrap.min.css" %}" rel="stylesheet">
    {# 扩展资源库 #}
    {% block head_static_expand %}{% endblock %}

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    {# 加载自定义样式 #}
    {% block style %}
        <link href="{% static "base.css" %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    {# 导航栏 #}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "gregblog:index" %}">
                    王不迟的博客
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="{% url "gregblog:blog" %}">博客</a></li>
                    <li><a href="{% url "gregblog:mood" %}">随笔</a></li>
                    <li><a href="{% url "gregblog:admin_test" %}">报表</a></li>
                    <li><a href="{% url "tools_plugin:index" %}">小工具</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'user:login' %}?from={{ request.get_full_path }}">登录</a></li>
                        <li><a href="{% url 'user:register' %}?from={{ request.get_full_path }}">注册</a></li>
                    {% else %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_nickname_or_username }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url 'user:user_info' %}">个人资料</a></li>
                              {% if user.is_staff or user.is_superuser %}
                                  <li><a href="{% url 'admin:index' %}" target="_blank">后台管理</a></li>
                              {% endif %}
                              <li role="separator" class="divider"></li>
                              <li><a href="{% url 'user:logout' %}?from={{ request.get_full_path }}">退出</a></li>
                          </ul>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

    {# 定义栅格布局 #}
    {% block container %}
        <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">
                {# 内容块 #}
                {% block content %}
                {% endblock %}

                {# 分页功能 #}
                {% block pagination %}
                {% endblock %}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                {# 右边分类/标签等面板栏 #}
                {% block panels %}
                {% endblock %}
            </div>

            <div class="col-sm-9 col-md-9 col-lg-9">
                {# 下边的评论区域 #}
                {% block commemt %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    {# 模态对话框(Bootstrap) #}
    {% block modal_dialog %}

    {% endblock %}


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static "jquery_1.12.4.min.js" %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script type="text/javascript" src="{% static "bootstrap3/js/bootstrap.min.js" %}"></script>

    {# 加载自定义的script #}
    {% block body_script_extend %}{% endblock %}
  </body>
</html>