<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>王不迟博客系统邮件</title>
    <style type="text/css">

    </style>
</head>

<body style="background: #edf1f5;">
    <table width="1000px" align="center" cellspacing="0" cellpadding="0"
           style='border-collapse: collapse;font-size: 16px; color: #333;font-family:"微软雅黑","sans-serif";background-color:#fff;'>
        <tr>
            <td>
                <table align="center" border="0" cellspacing="0" cellspadding="0" width="860">
                    <tr>
                        <td colspan="" height="30"></td>
                    </tr>
                    <tr>
                        <td width="61"></td>
                        <td width="799" height="30">
                            <span style="font-weight: bold; color: #333;">尊敬的用户，</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="61"></td>
                        <td width="799" height="30">
                            {{ text|safe }}
                        </td>
                    </tr>
                    <tr>
                        <td width="61"></td>
                        <td width="799" height="30">
                            <a href="{% url 'gregblog:index' %}">王不迟的博客</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="" height="30"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- 此处之后不能再编辑 -->

    </table>
</body>
</html>
